.env
node_modules/
package-lock.json

zkp/build/
zkp/keys/
zkp/setup/

# snarkjs outputs (generated)
zkp/proof.json
zkp/public.json
zkp/verification_key.json

# circom/snarkjs large files
*.r1cs
*.wasm
*.sym
*.wtns
*.zkey
*.ptau

proof_*.json
public_*.json
